<h1>Sinatra Exercises</h1>
<br>
<h3>What is Sinatra you ask?</h3>
<p>Sinatra is a small light weight web framework written in Ruby. It allows you to make small web applications quickly. Like Rails, Sinatra is built upon Rack so you can think of it as a bare bones version of Rails. Sinatra does a few of the same things that Rails does, but it doesn’t create the file-structure for you like Rails does. Rails does a lot of complex things in the background that are hidden with abstractions. This is where the perceived ‘magic’ happens.</p>
<br>
<h2>Exercises:</h2>
<ul>
  <li><a href="/caesar_cipher">Caesar Cipher</a></li>
  <li><a href="/number_guess">Number Guess</a></li>
  <li><a href="/word_guess">Word Guess</a></li>
</ul>
