<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Exercises</title>
    <style> 
      body {
        padding-left: 50px;
    }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
  </body>
</html>
