<html>
  <head>
    <style>
      body {
        background: <%= color %>;
      }
    </style>
  </head>
  <body>
    <p>Guess the number I'm thinking of between 1 - 100</p>
    <form>
      <input type='text' autofocus='true' autofill='false' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <% if message %>
      <p><%= message %></p>
    <% end %>
    <% if message == "You got it right!" %>
      <p>My SECRET NUMBER is <%= number %></p>
    <% end %>
  </body>
</html>
