<div>
  <h2 id="banner">Text Encryption with a Caesar Cipher</h2>
</div>
<div id="info">
  <p>The <strong>Caesar Cipher</strong>, also known as a shift cipher, is one of the simplest forms of encryption. It is a substitution cipher where each letter in the original message is replaced with a letter corresponding to a certain number of letters forward (or backward) in the alphabet. It is named after Julius Caesar, who used it with a shift of three letters forward to protect messages of military significance. It is unknown how effective the Caesar Cipher was at the time, but it is likely to have been reasonably secure, not least because most of Caesar's enemies would have been illiterate and others would have assumed that the messages were written in an unknown foreign language.</p>
</div>
<div id="todos">
  <p>Try it yourself, type in a word or phrase to be encripted, then indicate a shift number, positive for forward or a negative number for backward in the alphabet. Your encrypted message will be shown below. (By the way, numbers don't change in a Caesar Cipher, but you can spell them out.)</p>
</div>
<form align="center">
  <p><strong>Enter message to encrypt:</strong></p>
  <textarea class='unencoded' type='text' name='raw_string' autofocus><%= raw_string %></textarea><br></br>
  <strong>Shift factor:</strong>
  <input id='shift' type='text' name='heat' placeholder="  <%= heat %>" pattern="[-+]*\d+" size="2"/>
  <input class='bttn' type='submit' name='action' value='Encode'/>
  <input class='bttn' type='submit' name='action' value='Reset'/>
</form>
<div align="center">
  <% if coded.length > 0 %>
    <p id='banner'><strong>Your encrypted message is: </strong></p>
    <textarea class='code'><%= coded %></textarea>
  <% end %>
</div>
