<!DOCTYPE html>
<html>
  <head>
    <title>Caesar Cipher</title>
    <link type="text/css" rel="stylesheet" href="/caesarStyle.css" /> 
  </head>
  <body>
    <%= yield %>
    <p><a href="/">Main Menu</a></p>
  </body>
</html>
