<h1>Welcome to Word-Guess!</h1>
<h4>Okay yes, most people call this Hangman, but we'll do it without any graphics</h4>
<br>
<h3>Instructions:</h3>
<p>In this game you will need to guess the letters in the word randomly selected just for you!</p>
<p>You will be allowed only seven (7) incorrect guesses</p>
<br><br>

