<!DOCTYPE html>
<html>
  <head>
    <title>Word Guess</title>
    <style> 
      body {
        padding-left: 50px;
    }
    </style>
  </head>
  <body>
    <%= yield %>
    <p><a href="/">Main Menu</a></p>
  </body>
</html>
